@font-face {
  font-family: "And Black";
  src: url("fonts/and_black.eot?#iefix") format('embedded-opentype'),
       url("fonts/and_black.woff") format('woff'),
       url("fonts/and_black.ttf") format('truetype');
}

body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: rgb(255,215,64);
  color: #fff;
}

::selection {
  background-color: rgb(255,215,64);
  color: #fff;
}

.android-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}


.Adtena-header {
  overflow: visible;
}


  .Adtena-search-box.is-focused ~ .Adtena-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .Adtena-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .Adtena-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid rgb(255,215,64);
    }

  .Adtena-search-box {
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .Adtena-more-button {
    order: 3;
  }


.Adtena-drawer {
  border-right: none;
}

  .Adtena-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }


    .Adtena-drawer .Adtena-logo-image {
      position: absolute;
      bottom: 16px;
    }


.Adtena-main-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/slide01.jpg') center 30% no-repeat;
  background-size: cover;
}

.Adtena-font {
  font-family: 'And Black', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 300;
}

.Adtena-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.Adtena-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}
